* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.login {
  display: flex;
  background-color: #be00f3;
  align-items: center;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.form1 {
  text-align: left;
  background-color: white;
  padding-left: 50px;
  padding-top: 40px;
  width: 40%;
  box-shadow: 0 0 3px 3px rgba(0 0 0 / 0.1);
  padding-bottom: 20px;
}

.form1 h1 {
  font-size: 25px;
  color: #756a90;
}

.choose-profile-container {
  height: 70px;
  width: 70px;
  border: 1px solid #756a90;
  margin-top: 15px;
  border-radius: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
}

.choose-profile {
  height: 74px;
  width: 74px;
  border-radius: 50%;
}

.add-image {
  position: relative;
  width: 10%;
  display: flex;
  flex-direction: column;
}

.add-image img {
  width: 20px;

}

.inputProfile {
  position: absolute;
  width: 18px;
  height: 17.8px;
  cursor: pointer;
  opacity: 0;
}

.form1 label {
  display: block;
}

.container--inputs div {
  margin-top: 18px;
}

.enregistreLink {
  text-decoration: none;
  color: white;
}

.container--inputs input {
  height: 40px;
  width: 80%;
  text-indent: 10px;
  outline: none;
  border-width: 2px;
  border-radius: 10px;
  border-left-color: #fffafa;
  border-right-color: #c4c3c3;
  border-bottom-color: #c4c3c3;
  border-top-color: #ffffff;
}

.container--inputs label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: #656565;
}

.container--inputs button {
  width: 82%;
  padding: 12px 0;
  background-color: #be00f3;
  border: none;
  font-size: 16px;
  border-radius: 10px;
  outline: none;
}
